{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}
<h1>Авторизация</h1>
{% if form.errors %}
<p>
    Ваше имя пользователя и пароль не совпали.
    Пожалуйста, попробуйте снова.
</p>
{% else %}
<p>
    Пожалуйста, используйте следующую форму для входа.
    Если у вас нет учетной записи
    <a href="{% url 'register' %}">зарегистрироваться</a>.
</p>
{% endif %}
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <p><input type="submit" value="Войти"></p>
    </form>
    <p>
        <a href="{% url 'password_reset' %}">
            Забыли пароль?
        </a>
    </p>
</div>
<div class="social">
    <ul>
        <li class="vk">
            <a href="{% url 'social:begin' 'vk-oauth2' %}">Вконтакте</a>
        </li>
    </ul>
</div>
{% endblock %}